/**
 * List
 */

.list-wrapper {
    display: block;
    width: 100%;
    padding: 0;
}

.list {
    display: table;
    width: 100%;
    margin: 0 0 1.6rem 0;
    padding: 0;
    list-style: none;

    &__head {
        display: table-header-group;
        font-size: 1.2rem;
        background-color: @color-secondary;
        color: @color-white;

        .list__cell {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }

    &__row {
        display: table-row;

        &:nth-child(2) {
            background-color: @color-soft;
        }
    }

    &__cell {
        display: table-cell;
        padding: 2rem 1rem;
    }
}
